<div class="team-member" fxLayout="column" fxLayoutAlign="center center" fxFlex="100%" inViewport [debounce]="0">
  <div class="team-member-avatar" [style.background-image]="'url('+member.photo+')'"></div>
  <div class="team-member-name"> {{ member.name }} </div>
  <div class="team-member-job-position"> {{ member.position }} </div>
  <p class="team-member-description"> {{ member.description }} </p>
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%">
    <div class="team-member-icon-list" *ngFor="let social of member.social">
      <a href="{{ social.url }}">
        <i class="{{ social.icon }} icon-link"></i>
      </a>
    </div>
  </div>
</div>