<div class="mobile-competence" fxFlex fxLayout="column" fxLayoutAlign="center center" inViewport>
  <div class="mobile-competence-letter" fxFlex fxLayout="row" fxLayoutAlign="center center">
    <span>SERVER TEAM</span>
  </div>
  <div class="mobile-image-wrapper" fxFlex fxLayout="row" fxLayoutAlign="center center">
    <div class="mobile-competence-image"></div>
  </div>
  <div class="mobile-competence-letter" fxFlex fxLayout="row" fxLayoutAlign="center end">
    <span>Madrid - Barcelona - Cáceres</span>
  </div>
</div>