<div class="about-us" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center" inViewport>
  <div class="about-us-title" fxFlex="100%" fxLayout="column" fxLayoutAlign="center start">About us</div>
  <div class="about-us-member" fxFlex="100%" fxLayout="column" fxLayoutAlign="center center">
    <div class="about-us-member-image"></div>
    <p class="about-us-member-description">
      Server and Frontend department of the Mobile Competence Center of Worldline implements and develops mobility
      solutions focused on improving business processes and reduce costs for customers.
      The human factor is a key aspect in our business. According to the unwritten IT law, the quality of the product
      is only as good as the team that produced it.
    </p>
    <p class="about-us-member-description">
      The core of our team consists of united, mentally nimble, experienced, like-minded professionals and we make sure
      we are always educated, trained, and following the leading edge technology domain, across platforms and devices.
      With almost 20 programmers on staff, they are experts in the most commonly used programming languages and
      frameworks: Node.js, Angular & AngularJS, Typescript, JavaScript, Sass/LESS, Java, Spring, C++, C, Python, Perl,
      C#, Swift, LUA and more!
    </p>
    <p class="about-us-member-description">
      Our emphasis on education, methodologies and training brings employees that have skills in several
      specializations, which returns a comprehensive knowledge and experience in all stages of the software development
      life cycle process.
    </p>
    <p class="about-us-member-description">
      Through our dedicated development team, we enable leading and emerging companies to develop high-end IT solutions
      for their businesses. Find out more about each of us!
    </p>
  </div>
</div>