<div class="about-us" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center" inViewport>
  <div class="about-us-title" fxFlex="100%" fxLayout="column" fxLayoutAlign="center start">About us</div>
  <div class="about-us-member" fxFlex="100%" fxLayout="column" fxLayoutAlign="center center">
    <div class="about-us-member-image"></div>
    <p class="about-us-member-description"> Vivamus sed sodales sapien, in lacinia elit. Duis tincidunt eros vel ex cursus,
      non molestie ex varius. Duis imperdiet odio urna, vitae dictum lorem tristique non. Pellentesque habitant morbi tristique
      senectus et netus et malesuada fames ac turpis egestas. Cras faucibus tempor metus sit amet tristique. Sed aliquet
      ut dui quis pharetra. Donec blandit laoreet gravida. Aliquam a suscipit enim. Nam vehicula sed erat sit amet auctor.
      In at rhoncus enim. Donec lacinia vestibulum orci in egestas. Phasellus id lacinia elit. Vivamus eleifend faucibus
      interdum. Donec viverra elementum odio, sed rutrum ante aliquam at. Ut dolor diam, semper nec ligula nec, iaculis
      finibus dolor. Mauris placerat ut felis vel pretium. Aenean tincidunt feugiat ex, ac iaculis ipsum ullamcorper a.
      Duis a lacus non dolor fermentum consectetur quis vel lorem. Fusce fringilla neque sit amet auctor porta. Duis eleifend
      pretium velit, sit amet posuere dolor interdum vitae. Donec aliquet arcu at leo rhoncus dignissim. Proin sed risus
      egestas, venenatis libero ut, elementum est. Vivamus feugiat blandit tortor, porta efficitur mauris maximus semper.
      Nunc interdum nisl augue, quis tincidunt sem ultrices fermentum.
    </p>
  </div>
</div>