<div class="footer" fxFlex="100">
    <footer fxFlex="100" fxLayout="column" fxLayoutAlign="end center">
        <div class="logos-wrapper" fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center">
            <div class="logo">
                <a target="_blank" href="http://worldline.com"><img src="assets/img/WL.png" /></a>
            </div>
            <div class="logo">
                <a target="_blank" href="http://www.tempos21.com/web/"><img src="assets/img/WL-mcc.png" /></a>
            </div>
        </div>
        <a href="mailto:dl-wl-mcc-server@worldline.com" class="mailto-wrapper">
            <i class="fas fa-envelope mailto-icon"></i>
            <span class="mailto">Send us an Email</span>
        </a>
        <div class="brand-name">Eric Álvarez Chinchilla - Killian Perea Ruiz - Alejandro Rivas Moreira</div>
        <div class="brand-name">Copyright © 2018 Tempos 21, Worldline Mobile Competence Center. All rights reserved.</div>
    </footer>
</div>