.mat-toolbar {
    background: rgba(255, 255, 255, 0.8);
    color: #0066a1;
    position: fixed;
    z-index: 2;
}

.logo {
  display: flex;
}

.logo > img {
  height: 50px;
}

.icon {
    padding: 0 10px;
}
  
.spacer {
        flex: 1 1 auto;
}

/****** HOME *******/
.team-banner {
    height: 600px;
    background-image:url('../assets/body-img1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.team {
    padding: 84px 20px 20px;
}

.member {
    padding: 10px 20px;
}

.member .avatar {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    align-self: center;
    border-radius: 50%;
    width:10rem;
    height:10rem;
}

.name {
    font-size: 2rem;
    margin: 10px;
    text-align: center;
}

