<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div [ngx-scroll-to]="'#mobile-competence'" fxLayoutAlign="center center">
        <span class="logo">
          <img src="assets/icon-body.png" />
        </span>
      </div>
      <span class="spacer"></span>
      <span class="spacer"></span>
      <div class="references" fxLayout="row" fxLayoutAlign="center center" fxShow="false" fxShow.gt-sm="true">
        <button mat-button class="header-button" [ngx-scroll-to]="'#about-us'" [ngx-scroll-to-offset]="scrollSize" fxFlex="100%"
          fxFlex.gt-sm="30%" fxFlex.gt-xs="70%" fxLayoutAlign="center center">About us</button>
        <button mat-button class="header-button" [ngx-scroll-to]="'#team'" [ngx-scroll-to-offset]="scrollSize" fxFlex="100%" fxFlex.gt-sm="30%"
          fxFlex.gt-xs="70%" fxLayoutAlign="center center">Our team</button>
        <button mat-button class="header-button" [ngx-scroll-to]="'#technologies'" [ngx-scroll-to-offset]="scrollSize" fxFlex="100%"
          fxFlex.gt-sm="30%" fxFlex.gt-xs="70%" fxLayoutAlign="center center">Technologies</button>
        <button mat-button class="header-button" [ngx-scroll-to]="'#contact'" [ngx-scroll-to-offset]="scrollSize" fxFlex="100%" fxFlex.gt-sm="30%"
          fxFlex.gt-xs="70%" fxLayoutAlign="center center">Contact</button>
      </div>
      <button mat-button [matMenuTriggerFor]="menu" fxShow="true" fxShow.gt-sm="false">
        <mat-icon class="icon">clear_all</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="menu-button" [ngx-scroll-to-offset]="scrollSize" [ngx-scroll-to]="'#mobile-competence'">Mobile Competence
        </button>
        <button mat-menu-item class="menu-button" [ngx-scroll-to-offset]="scrollSize" [ngx-scroll-to]="'#about-us'">About us
        </button>
        <button mat-menu-item class="menu-button" [ngx-scroll-to-offset]="scrollSize" [ngx-scroll-to]="'#team'">Team</button>
        <button mat-menu-item class="menu-button" [ngx-scroll-to-offset]="scrollSize" [ngx-scroll-to]="'#technologies'">Technologies</button>
        <button mat-menu-item class="menu-button" [ngx-scroll-to-offset]="scrollSize" [ngx-scroll-to]="'#contact'">Contact</button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <div id="mobile-competence" fxLayout="column" fxLayoutAlign="center center" inViewport>
    <div style="width:90%" fxLayout="row" fxLayoutAlign="center center">
      <div class="mobile-competence-image"></div>
    </div>
    <div class="mobile-competence-cities">
      <h1>Madrid - Barcelona - Cáceres</h1>
    </div>
  </div>
  <div id="about-us" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center" inViewport>
    <div class="about-us-title" fxFlex="100%" fxLayout="column" fxLayoutAlign="center start">About us</div>
    <div class="about-us-member" fxFlex="100%" fxLayout="column" fxLayoutAlign="center center">
      <div class="about-us-member-image"></div>
      <p class="about-us-member-description"> Vivamus sed sodales sapien, in lacinia elit. Duis tincidunt eros vel ex cursus, non molestie ex varius. Duis imperdiet
        odio urna, vitae dictum lorem tristique non. Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Cras faucibus tempor metus sit amet tristique. Sed aliquet ut dui quis pharetra. Donec blandit
        laoreet gravida. Aliquam a suscipit enim. Nam vehicula sed erat sit amet auctor. In at rhoncus enim. Donec lacinia
        vestibulum orci in egestas. Phasellus id lacinia elit. Vivamus eleifend faucibus interdum. Donec viverra elementum
        odio, sed rutrum ante aliquam at. Ut dolor diam, semper nec ligula nec, iaculis finibus dolor. Mauris placerat ut
        felis vel pretium. Aenean tincidunt feugiat ex, ac iaculis ipsum ullamcorper a. Duis a lacus non dolor fermentum
        consectetur quis vel lorem. Fusce fringilla neque sit amet auctor porta. Duis eleifend pretium velit, sit amet posuere
        dolor interdum vitae. Donec aliquet arcu at leo rhoncus dignissim. Proin sed risus egestas, venenatis libero ut,
        elementum est. Vivamus feugiat blandit tortor, porta efficitur mauris maximus semper. Nunc interdum nisl augue, quis
        tincidunt sem ultrices fermentum.
      </p>
    </div>
  </div>
  <div class="divider-fliped"></div>
  <div id="team" fxLayout="row wrap" fxLayout.xs="column" inViewport>
    <div class="team-title" fxFlex="100%" fxLayout="column" fxLayoutAlign="center start">Our team</div>
    <div class="team-member" fxFlex="100%" fxFlex.gt-sm="33%" fxFlex.gt-xs="33%" fxLayout="column" fxLayoutAlign="center center"
      inViewport [debounce]="0">
      <div class="team-member-avatar" [ngStyle]="{'background-image': backImage[0]}"></div>
      <div class="team-member-name">Name 1</div>
      <div class="team-member-job-position">JOB_POSITION</div>
      <p class="team-member-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula risus, ornare non gravida eget, congue nec mi.
        Aliquam sed odio orci. Mauris sit amet diam finibus, porttitor nunc quis, aliquet nisl. Sed sagittis hendrerit rhoncus.
      </p>
      <div class="team-member-icon-list">
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
      </div>
    </div>
    <div class="team-member" fxFlex="100%" fxFlex.gt-sm="33%" fxFlex.gt-xs="33%" fxLayout="column" fxLayoutAlign="center center"
      inViewport [debounce]="0">
      <div class="team-member-avatar" [ngStyle]="{'background-image': backImage[1]}"></div>
      <div class="team-member-name">Name 2</div>
      <div class="team-member-job-position">JOB_POSITION</div>
      <p class="team-member-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula risus, ornare non gravida eget, congue nec mi.
        Aliquam sed odio orci. Mauris sit amet diam finibus, porttitor nunc quis, aliquet nisl. Sed sagittis hendrerit rhoncus.
      </p>
      <div class="team-member-icon-list">
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
      </div>
    </div>
    <div class="team-member" fxFlex="100%" fxFlex.gt-sm="33%" fxFlex.gt-xs="33%" fxLayout="column" fxLayoutAlign="center center"
      inViewport [debounce]="0">
      <div mat-card-avatar class="team-member-avatar" [ngStyle]="{'background-image': backImage[2]}"></div>
      <div class="team-member-name">Name 3</div>
      <div class="team-member-job-position">JOB_POSITION</div>
      <p class="team-member-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula risus, ornare non gravida eget, congue nec mi.
        Aliquam sed odio orci. Mauris sit amet diam finibus, porttitor nunc quis, aliquet nisl. Sed sagittis hendrerit rhoncus.
      </p>
      <div class="team-member-icon-list">
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
      </div>
    </div>
    <div class="team-member" fxFlex="100%" fxFlex.gt-sm="33%" fxFlex.gt-xs="33%" fxLayout="column" fxLayoutAlign="center center"
      inViewport [debounce]="0">
      <div class="team-member-avatar" [ngStyle]="{'background-image': backImage[3]}"></div>
      <div class="team-member-name">Name 4</div>
      <div class="team-member-job-position">JOB_POSITION</div>
      <p class="team-member-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula risus, ornare non gravida eget, congue nec mi.
        Aliquam sed odio orci. Mauris sit amet diam finibus, porttitor nunc quis, aliquet nisl. Sed sagittis hendrerit rhoncus.
      </p>
      <div class="team-member-icon-list">
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
      </div>
    </div>
    <div class="team-member" fxFlex="100%" fxFlex.gt-sm="33%" fxFlex.gt-xs="33%" fxLayout="column" fxLayoutAlign="center center"
      inViewport [debounce]="0">
      <div class="team-member-avatar" [ngStyle]="{'background-image': backImage[4]}"></div>
      <div class="team-member-name">Name 5</div>
      <div class="team-member-job-position">JOB_POSITION</div>
      <p class="team-member-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula risus, ornare non gravida eget, congue nec mi.
        Aliquam sed odio orci. Mauris sit amet diam finibus, porttitor nunc quis, aliquet nisl. Sed sagittis hendrerit rhoncus.
      </p>
      <div class="team-member-icon-list">
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
      </div>
    </div>
    <div class="team-member" fxFlex="100%" fxFlex.gt-sm="33%" fxFlex.gt-xs="33%" fxLayout="column" fxLayoutAlign="center center"
      inViewport [debounce]="0">
      <div class="team-member-avatar" [ngStyle]="{'background-image': backImage[5]}"></div>
      <div class="team-member-name">Name 5</div>
      <div class="team-member-job-position">JOB_POSITION</div>
      <p class="team-member-description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula risus, ornare non gravida eget, congue nec mi.
        Aliquam sed odio orci. Mauris sit amet diam finibus, porttitor nunc quis, aliquet nisl. Sed sagittis hendrerit rhoncus.
      </p>
      <div class="team-member-icon-list">
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
        <button mat-button>
          <mat-icon class="icon">clear_all</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div id="technologies" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center">
    <div class="technologies-title" fxFlex="100%" fxLayout="column" fxLayoutAlign="center start">Technologies</div>
    <div class="technologies-group" fxFlex="100%" fxFlex.gt-sm="50%" fxLayout.gt-sm="row wrap" fxLayout="column" fxLayoutAlign="center center">
      <div class="technologies-group-title" fxFlex="100%" fxLayout="column" fxLayoutAlign="center center">FRONTEND</div>
      <div class="technologies-item" fxFlex="100%" fxFlex.gt-sm="50%" fxLayoutAlign="center center">
        <div class="technologies-item-image" fxLayoutAlign="center center">
          <div class="technology-image-wrapper"><img [src]="tecImage[0]"></div>
        </div>
      </div>
      <div class="technologies-item" fxFlex="100%" fxFlex.gt-sm="50%" fxLayoutAlign="center center">
        <div class="technologies-item-image" fxLayoutAlign="center center">
          <div class="technology-image-wrapper"><img [src]="tecImage[1]"></div>
        </div>
      </div>
      <div class="technologies-item" fxFlex="100%" fxFlex.gt-sm="50%" fxLayoutAlign="center center">
        <div class="technologies-item-image" fxLayoutAlign="center center">
          <div class="technology-image-wrapper"><img [src]="tecImage[2]"></div>
        </div>
      </div>
      <div class="technologies-item" fxFlex="100%" fxFlex.gt-sm="50%" fxLayoutAlign="center center">
        <div class="technologies-item-image" fxLayoutAlign="center center">
          <div class="technology-image-wrapper"><img [src]="tecImage[3]"></div>
        </div>
      </div>
    </div>
    <div class="technologies-group" fxFlex="100%" fxFlex.gt-sm="50%" fxLayout.gt-sm="row wrap" fxLayout="column" fxLayoutAlign="center center">
      <div class="technologies-group-title" fxFlex="100%" fxLayout="column" fxLayoutAlign="center center">BACKEND</div>
      <div class="technologies-item" fxFlex=" 100% " fxFlex.gt-sm="50%" fxLayoutAlign="center center">
        <div class="technologies-item-image" fxLayoutAlign="center center">
          <div class="technology-image-wrapper"><img [src]="tecImage[4]"></div>
        </div>
      </div>
      <div class="technologies-item" fxFlex="100%" fxFlex.gt-sm="50%" fxLayoutAlign="center center">
        <div class="technologies-item-image" fxLayoutAlign="center center">
          <div class="technology-image-wrapper"><img [src]="tecImage[5]"></div>
        </div>
      </div>
      <div class="technologies-item" fxFlex="100%" fxFlex.gt-sm="50%" fxLayoutAlign="center center">
        <div class="technologies-item-image" fxLayoutAlign="center center">
          <div class="technology-image-wrapper"><img [src]="tecImage[6]"></div>
        </div>
      </div>
      <div class="technologies-item" fxFlex="100%" fxFlex.gt-sm="50%" fxLayoutAlign="center center">
        <div class="technologies-item-image" fxLayoutAlign="center center">
          <div class="technology-image-wrapper"><img [src]="tecImage[7]"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider-fliped"></div>
  <div id="contact" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center">
    <div class="contact-title" fxFlex="100%" fxLayout="column" fxLayoutAlign="center start">Contact us</div>
    <form fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="center center" [formGroup]="contactFormControl" (ngSubmit)="submit()">
      <mat-form-field fxFlex="100%">
        <input matInput placeholder="Enter your email" formControlName="email">
      </mat-form-field>
      <mat-form-field fxFlex="100%">
        <input matInput placeholder="Subject" formControlName="subject">
      </mat-form-field>
      <mat-form-field fxFlex="100%">
        <textarea matInput placeholder="Leave a comment" formControlName="text"></textarea>
      </mat-form-field>
      <button [disabled]="contactFormControl.invalid" mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>
</div>