@font-face {
    font-family: 'Stag Book';
    font-style: normal;
    font-weight: normal;
    src: local('Stag Book'), url('./assets/fonts/STAG-BOOK_0.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Stag Book Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Stag Book Italic'), url('./assets/fonts/STAG-BOOKITALIC_0.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Stag Thin Dot';
    font-style: normal;
    font-weight: normal;
    src: local('Stag Thin Dot'), url('./assets/fonts/STAG-THINDOT.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Stag Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Stag Thin'), url('./assets/fonts/STAG-THIN_0.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Stag Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Stag Thin Italic'), url('./assets/fonts/STAG-THINITALIC.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Stag Light';
    font-style: normal;
    font-weight: normal;
    src: local('Stag Light'), url('./assets/fonts/STAG-LIGHT_0.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Stag Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Stag Light Italic'), url('./assets/fonts/STAG-LIGHTITALIC_0.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Stag Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Stag Medium'), url('./assets/fonts/STAG-MEDIUM_0.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Stag Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Stag Medium Italic'), url('./assets/fonts/STAG-MEDIUMITALIC_0.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Stag Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Stag Semibold'), url('./assets/fonts/STAG-SEMIBOLD_0.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Stag Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Stag Semibold Italic'), url('./assets/fonts/STAG-SEMIBOLDITALIC_0.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Stag Bold Dot';
    font-style: normal;
    font-weight: normal;
    src: local('Stag Bold Dot'), url('./assets/fonts/STAG-BOLDDOT.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Stag Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Stag Bold'), url('./assets/fonts/STAG-BOLD_0.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Stag Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Stag Bold Italic'), url('./assets/fonts/STAG-BOLDITALIC_0.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Stag Black';
    font-style: normal;
    font-weight: normal;
    src: local('Stag Black'), url('./assets/fonts/STAG-BLACK_0.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Stag Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Stag Black Italic'), url('./assets/fonts/STAG-BLACKITALIC_0.woff') format('woff');
    }